<div class="row">
  <div class="col-xs-9">
    <div class="files">
      <div class="list-group row ">
        <li *ngFor="let file of files" (click)="onSelectFile(file)" class="list-group-item col-sm-3">
          <div id="image">
            <img class="img-responsive" src="assets/images/file.png" width="15" height="10">
          </div>
          <span> {{file.fileName}}</span>
        </li>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <file-detail [hidden]="fileHidden" [file]="selectedFile" class="col"></file-detail>
  </div>
</div>