<login [hidden]="!(this.router.url == '/login')"></login>
<register [hidden]="!(this.router.url == '/register')"></register>

<div class="menu_content" *ngIf="menuHidden">
    <mat-toolbar class="menu-header">
        <button mat-button (click)="this.router.navigate(['./files']);" style="color: white;"><i class="far fa-file"></i> Files</button>|
        <button mat-button (click)="this.router.navigate(['./notes']);" style="color: white;"><i class="far fa-sticky-note"></i> Notes</button>|
        <button mat-button (click)="this.router.navigate(['./finance']);" style="color: white;"><i class="far fa-money-bill-alt"></i> Finances</button>|
        <button mat-button (click)="this.router.navigate(['./travel']);" style="color: white;"><i class="far fa-map"></i> Travel</button>|
        <button mat-button (click)="this.router.navigate(['./settings']);" style="color: white;"><i class="far fa-user"></i> User</button>
    </mat-toolbar>
    <div class="sidenavvero">
        <mat-toolbar class="services-header">
            Services
        </mat-toolbar>
        <mat-list>
            <mat-list-item *ngFor="let item of selectedList" (click)="clickMenuItem(item.router);" style="display:inline-block;">
                <h4 mat-line>
                    <mat-icon mat-list-icon>
                        <i class="{{item.icon}}" style="font-size: 0.70em;"></i>
                    </mat-icon>{{item.text}} </h4>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="contento">
        <router-outlet></router-outlet>
    </div>
</div>