.menu {
    position: absolute;
    z-index: 1;
    top: 50px;
    background: #FFFFFF;
    max-width: 70%;
    /*margin: 0 auto 100px;*/
    border-radius: 8px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.6);
    list-style-type: none;
    display: inline-block;
}
.menu li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.menu li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.menu li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

#menuBar {
	border-bottom:1px solid white;
}