.filedetail {
    background: #FFFFFF;
    margin-right:10%;
    border-radius: 8px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.6); 
  }

.filedetail button {
    width: 45%;
  }