<div class="filedetail" *ngIf="file">
    <div>
        <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="file.fileName" id="fileName" [disabled]="isValid()">
        </mat-form-field>
        <label>Created : </label> {{file.created | date: 'short'}}
        <label>Version : </label> {{file.version}}
        <div layout="row">
            <label>Deleted : </label> {{file.deleted || "-"}}
        </div>

        <button mat-raised-button color="primary" (click)="rename()" [disabled]="isValid()">Rename</button>
        <button mat-raised-button color="primary" (click)="delete()" [disabled]="isValid()">Delete</button>
        <button mat-raised-button color="primary" [disabled]="!isValid()" (click)="restore()">Restore</button>
        <button mat-raised-button color="primary" (click)="share()" [disabled]="isValid()">Share</button>
        <button mat-raised-button color="primary" (click)="move()" [disabled]="isValid()">Move</button>
        <mat-form-field>
            <mat-select placeholder="Folder" [(ngModel)]="moveFolder">
                <mat-option *ngFor="let folder of folders" [value]="folder">
                    {{ folder.folderName || 'Main' }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="dropbox()" [disabled]="isValid()">Dropbox</button>
        <button mat-raised-button color="primary" (click)="download()" [disabled]="isValid()">Download</button>

        <mat-list>
            <h4 mat-subheader>Logs</h4>
            <mat-list-item *ngFor="let log of logs">
                <mat-icon mat-list-icon><i class="fas fa-angle-right"></i></mat-icon>
                <h4 mat-line>{{log.message}}</h4>
                <p mat-line> {{log.created | date: 'medium'}} </p>
            </mat-list-item>
        </mat-list>
    </div>
</div>