<div class="filedetail" *ngIf="file">
    <div>
        <p><label>Name : </label> <input [(ngModel)]="file.fileName"></p>
        <p><label>Created : </label> {{file.created | date: 'short'}}</p>
        <p><label>Version : </label> {{file.version}}</p>
        <p><label>Deleted : </label> {{file.deleted || "-"}}</p>
        <p><button (click)="rename()">Rename</button>
        <button (click)="delete()">Delete</button></p>
        <p><button (click)=move()>Move</button>
        <select [(ngModel)]="moveFolder"><option *ngFor="let folder of folders" [ngValue]="folder">{{ folder.folderName || 'Main' }}</option></select></p>
        <p><button [disabled]="!isValid()">Restore</button>
        <button (click)="share()">Share</button></p>
    </div>
</div>