<mat-tab-group>
  <mat-tab label="Plan">
    <div class="dialog-container">
      <mat-form-field>
        <input matInput placeholder="Label" [(ngModel)]="marker.label">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Lat" type="number" [(ngModel)]="marker.lat" class="amount-input">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Lng" type="number" [(ngModel)]="marker.lng" class="amount-input">
      </mat-form-field>

      <button mat-raised-button (click)="save()" style="background-color:#3a6efc">Save</button>
    </div>
  </mat-tab>
</mat-tab-group>