.fileshare {
    position: absolute;
    z-index: 2;
    background: #FFFFFF;
    width: 5%px;
    margin: auto;
    top: 20%;
    left:40%;
    border-radius: 8px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.6);
    list-style-type: none;
  }
  
.fileshare button {
    width: 100%;
  }
  
  
#close_share{
    float:right;
    color:#418BFA;
    cursor: pointer;
    
  }

  #delete_share{
    float:right;
    color:#418BFA;
    cursor: pointer;
  }

  .fileshare li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
    cursor: pointer;
  }