<div class="fileshare" *ngIf="file">
    <div class="form-group">
        <span id="close_share" (click)="close()">X</span>
    </div>
    <div>
        <div layout="row">
            <label>Name: </label> {{ file.fileName }}
        </div>
        <div layout="row">
            <label>Public: </label> {{ file.publicLink || "-"}}
        </div>
        <div layout="row">
            <mat-form-field>
                <mat-select placeholder="Role" [(ngModel)]="selectedRole">
                    <mat-option *ngFor="let role of roles" [value]="role">
                        {{ role.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div layout="row">
            <mat-form-field>
                <input matInput placeholder="To" [(ngModel)]="to_user">
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="share()" [disabled]="isValid()">Share</button>
        <button mat-raised-button color="primary" (click)="makePublic()" [disabled]="isValid()">Public</button>
        <button mat-raised-button color="primary" (click)="revokePublic()" [disabled]="!isValid()">Revoke Public</button>

    </div>
    <mat-list>
        <h4 mat-subheader>Logs</h4>
        <mat-list-item *ngFor="let share of shares">
            <mat-icon mat-list-icon>
                <i class="fas fa-angle-right"></i>
            </mat-icon>
            <h4 mat-line> {{share.email}} has {{share.role}} <span id="delete_share" (click)="delete_share(share)">X</span></h4>
            <p mat-line> {{share.created | date: 'medium'}} </p>
        </mat-list-item>
    </mat-list>
</div>