<div id="wrapper">
  <div class="files" appFile [currentFolder]="currentFolder.id">
    <mat-form-field>
      <input matInput placeholder="search" [(ngModel)]="search" (ngModelChange)="search_files($event)">
    </mat-form-field>
    <img id="upload" class="img-responsive" src="assets/images/file.png" (click)="showUpload()" width="15" height="20">
    <mat-list>
      <h3 mat-subheader>Folders</h3>
      <mat-list-item *ngFor="let folder of folders" (click)="onSelectFolder(folder)" (dblclick)="onDblSelectFolder(folder)" style="display:inline-block;">
        <mat-icon mat-list-icon>
          <i class="fas fa-folder"></i>
        </mat-icon>
        <h4 mat-line> {{folder.folderName | limitTo: 27}} </h4>
        <p mat-line> {{folder.created | date: 'short'}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Files</h3>
      <mat-list-item *ngFor="let file of files" style="display:inline-block;" (click)="onSelectFile(file)">
        <mat-icon mat-list-icon>
          <i class="fas fa-file"></i>
        </mat-icon>
        <h4 mat-line> {{ file.fileName | limitTo: 27 }} </h4>
        <p mat-line> {{file.created | date: 'short'}} </p>
      </mat-list-item>
    </mat-list>
  </div>

  <div>
    <folder-detail [hidden]="folderHidden" [folder]="selectedFolder" (changeEvent)="showResponse($event); get_folders(this.currentFolder); this.folderHidden=true;"></folder-detail>
    <file-detail [hidden]="fileHidden" (changeEvent)="showResponse($event); get_files(this.currentFolder.id); this.fileHidden=true;"
      (shareEvent)="showShare()" [file]="selectedFile" class="col"></file-detail>
  </div>
</div>

<share [hidden]="uploadShare" (closeEvent)="uploadShare = true;" (changeEvent)="showResponse($event); get_files(this.currentFolder.id); this.uploadShare=true;"
  [file]="selectedFile" class="col"></share>
<response [hidden]="responseHidden" [inresponse]="requestResponse" class="col"></response>