.files {
  z-index: 1;
  left:100px;
  top: 50px;
  background: #FFFFFF;
  margin-left: 1%;
  border-radius: 8px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.6);
  list-style-type: none;
}

.files li:hover {
  color: #607D8B;
  background-color: #DDD;
  cursor: pointer;
  user-select: none;
}

#image{
  float: left;
  margin-right: 3px;
}

#upload, #dropbox, #newFolder{
  float:right;
  color:#418BFA;
  margin: auto;
}

