.files {
  
  width: 80%;
  float:left;
  margin-right: 1%;
  background: #FFFFFF;
  padding: 10px;
  list-style-type: none;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

.mat-list-item:hover {
  color: #607D8B;
  background-color: #DDD;
  cursor: pointer;
  user-select: none;
}

#upload{
  float:right;
  color:#418BFA;
  margin: auto;
}

