<div id="wrapper">
  <div class="files">
    <mat-list>
      <h3 mat-subheader>Folders</h3>
      <mat-list-item *ngFor="let folder of folders" (click)="onSelectFolder(folder)" (dblclick)="onDblSelectFolder(folder)" style="display:inline-block;">
        <mat-icon mat-list-icon>
          <i class="fas fa-folder"></i>
        </mat-icon>
        <h4 mat-line> {{folder.folderName | limitTo: 27}} </h4>
        <p mat-line> {{folder.created | date: 'short'}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Files</h3>
      <mat-list-item *ngFor="let file of files" style="display:inline-block;" (click)="onSelectFile(file)">
        <mat-icon mat-list-icon>
          <i class="fas fa-file"></i>
        </mat-icon>
        <h4 mat-line> {{ file.fileName | limitTo: 27 }} </h4>
        <p mat-line> {{file.created | date: 'short'}} </p>
      </mat-list-item>
    </mat-list>
  </div>

  <div>
    <folder-detail [hidden]="folderHidden" (changeEvent)="showResponse($event); file_restored(); this.folderHidden=true;" [folder]="selectedFolder"></folder-detail>
    <file-detail [hidden]="fileHidden" (changeEvent)="showResponse($event); file_restored(); this.fileHidden=true;" [file]="selectedFile"></file-detail>
  </div>
</div>
<response [hidden]="responseHidden" [inresponse]="requestResponse" class="col"></response>