.finance {
    background: #FFFFFF;
    width: 100%;
    padding: 10px;
    list-style-type: none;
  }

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.finance-table-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

input.ym-input::-webkit-inner-spin-button {
  display: none;
}

input.amount-input::-webkit-inner-spin-button {
  display: none;
}

.year-month-filter{
  min-height: 64px;
  padding: 8px 24px 0;
}

.ym{
  font-size: 14px;
  width: 20%;
}

.table-footer-row {
  font-weight: bold;
}

.first-header-row {
  border-bottom: none;
}

.mat-header-row {
  position: sticky;
  top: 0;
  background: white;
  z-index: 99;
}

.mat-row:nth-child(even){
  background-color:white;
  }

.mat-row:nth-child(odd){
  background-color:rgb(247, 244, 244);
  }