<div class="finance">
    <button mat-raised-button color="primary" (click)="openDialog()" style="margin-bottom: 1%;">New</button>
    <br>
    <div class="example-container">
        <div class="year-month-filter">
            <mat-form-field class="ym">
                <input matInput placeholder="Year" type="number" [(ngModel)]="year" class="ym-input">
            </mat-form-field>
            <mat-form-field class="ym">
                <input matInput placeholder="Month" type="number" [(ngModel)]="month" class="ym-input">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="fillTable()">Search</button>
        </div>
        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Table Filter">
            </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource" style="overflow: auto; max-height: 500px;">

            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ get_finance_type_name(element.finance_type_id) }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="comment">
                <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.comment}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ get_formatted_date(element.finance_date) }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="update">
                    <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <span (click)="updateFinance(element);"><i class="far fa-edit"> </i></span> <span (click)="deleteFinance(element);"><i class="fas fa-trash-alt"></i></span></mat-cell>
                </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>