.notes {
  background: #FFFFFF;
  width: 50%;
  margin: auto;
  border-radius: 8px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.6);
  list-style-type: none;
}

#image{
  float: left;
  margin-right: 3px;
}

.notes li:hover {
  color: #607D8B;
  background-color: #DDD;
  cursor: pointer;
}