.notes {
  background: #FFFFFF;
  width: 100%;
  margin: auto;
  padding: 10px;
  list-style-type: none;
}

#image{
  float: left;
  margin-right: 3px;
}

.mat-list-item:hover {
  color: #607D8B;
  background-color: #DDD;
  cursor: pointer;
  user-select: none;
}