<div class="travel-images" appImage [currentTravel]="selectedTravel.id">
    <div layout="row">
        <mat-form-field>
            <mat-select placeholder="Travel" [(ngModel)]="selectedTravel" (selectionChange)="fill_images()">
                <mat-option *ngFor="let travel of travels" [value]="travel">
                    {{ travel.description }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div style="overflow-y: auto; max-height: 80vh;">
        <mat-grid-list cols="4" rowHeight="200px" rowWidth="200px">
            <mat-grid-tile *ngFor="let image of images" [colspan]="image.cols" [rowspan]="image.rows">
                <img [src]="image.src" height="100%" width="100%" (click)="openDialog(image)">
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>