<div class="travel-images" appImage [currentTravel]="selectedTravel.id">
    <div layout="row">
        <mat-form-field>
            <mat-select placeholder="Travel" [(ngModel)]="selectedTravel" (selectionChange)="fill_images()">
                <mat-option *ngFor="let travel of travels" [value]="travel">
                    {{ travel.description }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ selectedTravel.description }}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ selectedTravel.travelDate | date: 'shortDate' }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                # of images {{ numberOfPictures }}
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div layout="row" style="margin-top: 5px; margin-bottom: 5px; text-align: center;">
            <span (click)="previous()"><i class="fas fa-angle-left"></i></span>
            {{ index - 32 }} - {{index}}
            <span (click)="next()"><i class="fas fa-angle-right"></i></span>
    </div>
    <div style="overflow-y: auto; max-height: 80vh;">
        <mat-grid-list cols="8" rowHeight="150px" rowWidth="150px">
            <mat-grid-tile *ngFor="let image of paginatedImages" [colspan]="image.cols" [rowspan]="image.rows">
                <img [src]="image.src" height="100%" width="100%" (click)="openDialog(image)">
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>