.logs {
    background: #FFFFFF;
    width: 100%;
    max-height: 700px;
    padding: 10px;
    list-style-type: none;
    margin: auto;
    overflow: auto;
  }

.mat-list{
  cursor: pointer;
  user-select: none;
}

.mat-list-item:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
