.logs {
    top: 10px;
    background: #FFFFFF;
    width: 70%;
    max-height: 700px;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.6);
    list-style-type: none;
    margin: auto;
    overflow: auto;
  }

.mat-list{
  cursor: pointer;
  user-select: none;
}

.mat-list-item:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
