<div class="finance">
  <div layout="row" mat-line>
    <mat-form-field class="ym">
      <input matInput placeholder="Year" type="number" [(ngModel)]="aggr_year" class="ym-input">
    </mat-form-field>
    <mat-form-field class="ym">
      <input matInput placeholder="Month" type="number" [(ngModel)]="aggr_month" class="ym-input">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="fill_chart()">Report</button>
  </div>
  <h3 mat-subheader>Total spent: {{ totalSpent }} HUF</h3>
  <mat-divider></mat-divider>
  <canvas hidden id="canvas">{{ chart }}</canvas>
</div>