<div class="folderdetail" *ngIf="folder">
    <div>
        <p><label>Name : </label> <input [(ngModel)]="folder.folderName"></p>
        <p><label>Created : </label> {{folder.created | date: 'short'}}</p>
        <p><label>Deleted : </label> {{folder.deleted || "-"}}</p>
        <p>
            <button (click)="rename()" [disabled]="isValid()">Rename</button>
            <button (click)="delete()" [disabled]="isValid()">Delete</button>
        </p>
        <p>
            <button (click)=move() [disabled]="isValid()">Move</button>
            <select [(ngModel)]="moveFolder"><option *ngFor="let folder of folders" [ngValue]="folder">{{ folder.folderName || 'Main' }}</option></select>
        </p>
        <p>
            <button [disabled]="!isValid()" (click)="restore()">Restore</button>
        </p>
        <ul class="logs">
            <li *ngFor="let log of logs">
                <span class="badge">{{log.created | date: 'medium'}}</span> {{log.message}}
            </li>
        </ul>
    </div>
</div>