<div class="dropbox">
    <div class="form-group">
        <span id="close_dropbox" (click)="close()">X</span>
    </div>
    <div layout="row">
        <mat-form-field>
            <input matInput placeholder="Path" [(ngModel)]="path">
        </mat-form-field>
    </div>
    <div layout="row">
        <mat-form-field>
            <input matInput placeholder="Filename" [(ngModel)]="filename">
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="download()">Download</button>
</div>