.dropbox {
    position: absolute;
    z-index: 2;
    background: #FFFFFF;
    width: 20%;
    margin: auto;
    top: 20%;
    left:40%;
    border-radius: 8px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.6);
  }
  
  .dropbox button {
    width: 100%;
  }
  
  #close_dropbox{
    float:right;
    color:#418BFA;
    cursor: pointer;
  }