.dropbox {
    position: absolute;
    z-index: 2;
    background: #FFFFFF;
    margin: auto;
    top: 20%;
    left:40%;
    padding: 1%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.6);
  }
  
  #close_dropbox{
    float:right;
    color:#418BFA;
    cursor: pointer;
  }