  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    top: 10%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  input.amount-input::-webkit-inner-spin-button {
    display: none;
  }