<div class="register-component">
  <div class="form">
    <div class="register-form">
      <input #username type="text" placeholder="username"/>
      <input #email type="text" placeholder="email"/>
      <input #password type="password" placeholder="password"/>
      <button (click)="register(username.value,password.value,email.value); email.value=''; username.value = ''; password.value=''; ">Register</button>
      <button routerLink="/login">Back</button>
    </div>
  </div>
</div>