#close_upload{
  float:right;
  color:#418BFA;
  cursor: pointer;
}

.tab-container {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}