.travel {
  background: #FFFFFF;
  width: 100%;
  padding: 10px;
  list-style-type: none;
}

.mat-list-item:hover {
  color: #607D8B;
  background-color: #DDD;
  cursor: pointer;
  user-select: none;
}
